/* Global */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins&display=swap');


html {
    min-height: 100%;
    margin: 0;
}

body {
    background-color: #cddc30;
    font-family: Poppins, sans-serif;
    text-align: center;
    margin: 0 auto;
}

footer {
    clear: both;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #ffff00;
    position:fixed;
}

#button-div {
    margin-bottom: 5px;
    justify-content: space-between;
    display: inline-block;
}

h1 {
    font-family: Montserrat;
    color: #004d40;
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-family: Montserrat;
    color: #004d40;
    font-size: 1.8rem;
}


button {
    font-size: 1.9rem;
    margin: 3px 40px;
    min-width: 10%;
    background-color: #ffff00;
    color: #004d40;
    border-color: #004d40;
    border-radius: 2px;
}

button:hover {
    background-color: #fff;
}

#choice-div {
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: space-evenly;
    display: flex;
    clear: both;
}

#score-container {
    margin-top: 10px;
    margin-bottom: 5px;
    justify-content: space-evenly;
    display: flex;
    clear: both;
}

#user-pick {
    margin: 0 auto;
}

#com-pick {
    margin: 0 auto;
}

#winner {
    font-size: 1.7rem;
    font-weight: bolder;
    animation-name: result;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    padding-top: 15px;
    padding-bottom: 15px;
}

  @keyframes result {
    0%   {color: #004d40;}
    25%  {color: #bf360c}
    50%  {color: #004d40;}
    100% {color: #bf360c}
  }


#image-container {
    max-width: 90%;
    max-height: 300px;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    justify-content: space-around;
}

.image-child {
    width: 33%;
    padding: 2px;
    display: inline;
    border: 2px #004d40;
    border-radius: 4px;
    
}

.image-child img {
    width: 32%;
    border: 2px #004d40;
    border-radius: 4px;
}

